.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.section-footer {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
    &__redes {
        display: flex;
        justify-content: space-evenly;
    }
    &__text {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        a {
            text-decoration: none;
            color: white;
            font-size: 17px;
            font-weight: 700;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 675px) {
        flex-direction: column-reverse;
        &__text {
            flex-direction: row;
            justify-content: space-between;
            a {
                margin-right: 8px;
            }
        }
    }
}

.img-redes {
    width: 25px;
    height: 25px;
}
.logo-footer {
    color: white;
    font-size: 24px;
}

.button-input {
    padding: 3px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.button-form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
}

.button-form:hover {
    cursor: pointer;
    border: 1px solid none;
    border: 1px solid rgba(0, 0, 0, 0.234);
}

.copyright {
    text-align: center;
    width: 1300px;
    margin: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.311);
    color: white;
    padding: 10px 0px 2px 0px;
    @media (max-width: 675px) {
        width: 400px;
    }

}
