.main{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:375px){
        flex-direction: column;
        
        
       
    }
}

.hero-title{
    color: white;
    font-size: 35px;
    width: 450px;
    margin: 0px;
    @media (max-width:375px){
        width: 300px;
        
        font-size: 25px;

        
       
    }
}


.hero-text{
    color: white;
}

.image-cripto{
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
    @media (max-width:375px){
        width: 300px;
        height: 200px;
        font-size: 305px;
        margin-top: 35px;

        
       
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(-3.5rem);

    }
}
